@media (max-width: 1200px) {
	#contacts h3{
		font-size: 1.3rem;
	}
	.networks-title{
		font-size: 2.3rem;
	}
}
@media (max-width: 992px) {
	.contacts__description{
		font-size: 0.9rem;
	}
	#contacts h3 {
    	font-size: 1.2rem;
	}
	#contacts{
		margin-bottom:75px;
	}
}
@media (max-width: 768px) {
	#contacts h3 {
    	font-size: 1.1rem;
	}
	.contacts__description{
		font-size: 0.9rem;
	}
	.networks-title{
		font-size: 2.2rem;
	}
	.phone-bg, .email-bg {
    	width: 75px;
    	height: 75px;
    	-webkit-box-shadow: 0px 0px 8px 0.8px #000;
    	        box-shadow: 0px 0px 8px 0.8px #000;
    	margin-right: 40px;
	}
	.fa-phone-alt, .fa-envelope-open-text{
		font-size: 42px;
	}
	#contacts{
		margin-bottom:70px;
	}
}
@media (max-width: 576px) {
	header {
    	height: auto;
	}
	#contacts h3 {
    	font-size: 1rem;
	}
	.contacts__title {
    	margin: 0 0 15px 0;
	}
	.networks-title{
		font-size: 28px;
	}
	.contacts__phone, .contacts__email {
    	margin: 30px 0 0 0;
    	-webkit-box-pack: center !important;
    	    -ms-flex-pack: center !important;
    	        justify-content: center !important;
    }
    .phone-bg, .email-bg {
    	width: 50px;
    	height: 50px;
    	-webkit-box-shadow: 0px 0px 5px 0.5px #000;
    	        box-shadow: 0px 0px 5px 0.5px #000;
    	margin-right: 25px;
	}
	.fa-phone-alt, .fa-envelope-open-text{
		font-size: 24px;
	}
	.telegram-bg, .instagram-bg, .facebook-bg, .tiktok-bg{
		width: 50px;
		height: 50px;
		-webkit-box-shadow: 0px 0px 6px 0.4px #000;
		        box-shadow: 0px 0px 6px 0.4px #000;
	}
	.telegram-bg i, .instagram-bg i, .facebook-bg i{
		font-size: 26px;
	}
	#contacts{
		margin-bottom:60px;
	}
}