.header-wrapper{
	background-image: url(../img/sheldon-header.jpg);
	background-position: center top;
}
@media (max-width: 1200px) {
	.header-wrapper{
		background: url(../img/sheldon-header.jpg) -100px 0px no-repeat;
		background-size: cover;
	}

}
@media (max-width: 992px) {
	.header-wrapper{
		background: url(../img/sheldon-header.jpg) -220px 0px no-repeat;
		background-size: cover;
	}
}
@media (max-width: 768px) {
	.header-wrapper{
		background: url(../img/sheldon-header.jpg) -330px 0px no-repeat;
		background-size: cover;
	}
}
@media (max-width: 576px) {
	.header-wrapper{
		background: url(../img/sheldon-header.jpg) 80% top no-repeat;
		background-size: cover;
	}
}